.backgroundImage{
  top: 0;
  position: absolute;
  height: 140vh;
  width: 100%;
  filter: brightness(50%);
}

.backgroundImage img{
  object-fit: fill;
}

.introContainer{
  margin-top: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introContainer h1{
  z-index: 3;
  font-size: 7vw;
  text-transform: uppercase;
  color: white;
}
.introImage{
  position: absolute;
  width: 350px;
  height: 470px;
  filter: brightness(80%);
}
.introImage img{
  position: absolute;
  border-radius: 20px;
  width: 350px;
  height: 470px;
  filter: brightness(70%);
}